.extra-container{
    margin-top: 90px;
    text-align:start;
}
.extra-row{
    width:1000px;
    margin-bottom: 20px;
}
.feature-row div{
    margin-left:130px
}
.card-wrapper{
    height:600px;
}

.feature-card-row{
    width:1120px;
}