.food-catg-area .container{
    background-color:white;
    height: 950px;
    background-color:;
    justify-content: center;
}

.food-catg-area .container .raw{
 height: 100px;
 width: 1100px;
 justify-content: center;
 display: inline-block;
}
.catg-button{
    display: flex;
    height: 50px;
}

.catg-button button{
    width:90px;
    cursor: pointer;
    border: none;
    background-color: white;
    color:black;
    font-weight: bolder;
    
}
.catg-button .active{
    color:red;
}
.catg-button .active::after{
    content: "";
    width: auto;
    margin: 0 auto;
    height: 2px;
    background-color: rgb(255, 69, 101);
    display: block;
}
/* .catg-button button:hover{
    transition:all  0s ease-in-out;
    color:red;
    border-bottom: 2px solid red;
    
} */

.foodlist{
    height:420px;
    padding:30px;
    border:none;
}
.foodlist:hover{
    box-shadow:  5px 5px 10px grey;
    cursor: pointer;
}
.single-food-item{
    height:150px;
    justify-content: center;
    color:black;
    
}

.single-food-item img{
    /* height:250px; */
    width:60%;
    padding:15px
}
.food-ctg-cart-btn{
    margin-top: 20px;
}
.food-ctg-cart-btn button{
    width:200px;
}

.link{
    color:black
}
.link:hover{
    text-decoration: none;
    color:#FF4565;
    transition: all 0.20s ease-in-out;
}