.user-signup{
    background-image: url("../../Image/signup-bg.a5fdc065.png");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: bottom;
    height:570px
}
.user-signup .container{
    margin-top: -120px;
}
.user-signup .signup{
    height:300px
}
.user-signup .signin{
    height:300px
}

.sign-up-logo{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 60px;
}
.sign-up-logo img{
    height:70px;
}

.signup .form-control{
    width:400px;
    margin-bottom: 10px;
    border:none;
    background-color:#f5f5f5;
}

.signin .form-control{
    width:400px;
    margin-bottom: 10px;
    border:none;
    background-color:#f5f5f5;
}

.signin-button{
    width:400px
}
